.groups-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.groups-container div{
    text-align: center;
}

.card-img {
    width: 144px;
}

.groups-crop{
    width: 100%;
    overflow: hidden;
}