.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 180px;
    padding: 12px;

    background-color: white;
    color: black;

    border: 1px solid #ccc;
    border-radius: 6px;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;

    z-index: 10;
}

.tooltip.open {
    opacity: 1;
}