.groups-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.groups-container > a {
    text-align: center;
    text-decoration: none;
    color: #444;
}

.card-img {
    width: 144px;
}

.groups-crop {
    overflow: hidden;
    flex: 1;
}

.group-widget {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tooltip {
    white-space: pre-line;
}